/* .posts{
 flex:8;   
 display:flex;
 flex-wrap: wrap;
 background-color: brown;
 padding-right:0px;

   
}
.postFilters{
  margin-bottom: 10px;
  
} */

.toolbarButtons {
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  

}