
/* .log{
    background-color: blue;
    flex:6;
    width:100%
}
 */

.sidebarImage {
background-image:linear-gradient(#ffffff,
#7dd87d);
border-radius: 10px;
margin-bottom: 15px;
}
.sidebarTitle{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}
.TDA-Description{
    background-image:linear-gradient(#ffffff,
#caf4ca);
    color: black;
    padding: 0 16px;
    
}