
.loginPage{
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 25%;
    color: rgb(15, 15, 15);
   width:500px;
   background-color: rgb(207, 244, 230);
   padding: 2px;
   text-align: center;

    
    
    
    
   
}
.loginPageText{
    width: 100%;
    border: solid 1px;
    padding: 40px;
    background-color: white;
   
}

.loginButton{
    color: white;
    background-color: teal;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    
  
}
.loginButton:hover{
    background-color: rgb(1, 101, 101);
}


.Register{
    text-align: center;
    padding-bottom: 20px;
    color: blue;


}
