.post {
  width: 100%;
  margin-top:25px;
  margin-bottom: 40px;
  background-color: aquamarine;
  borderRadius: 15px;
  
}
.postImg {
  width: 100%;  
  object-fit: cover;
  border-radius: 7px;
}
.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCat {
  display: flex;
  justifyContent: space-between;
  margin: 0 18px;  
  line-height: 20px;
  color: #be9656;
  margin-top: 15px;
  margin-right: 10px;
}
.postTitle {
  padding: 0 16px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}
.postDate {
  padding: 0px 0px 16px 16px;
  font-style: italic;
  font-size: 13px;
  color: #999;  
  
}
.postDesc {
  font-size: 15px;
  height: 80px;  
  padding: 0 16px;  
  color: black;
  line-height: 20px;
  margin-top: 5px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* webkit-line-clamp only works in combination with web-kit-box-orient and display:-webkit-box or display: -webkit-inline-box */
  margin-bottom: 2%;  
}
/* .postDesc:hover {
  overflow: visible;
  -webkit-line-clamp: unset;
}
 */
.MuiChip-root {
  cursor: pointer !important;
}
.postCats a {
  color: #be9656 !important;
}
