.registerContainer{
   
    display: flex;
    padding: 27px;
    background-color: white;
    
}

/* .registerPageContents{
    margin: 5px, 5px, 5px, 5px;
    background-color: white;
    
} */
.formContainer{

    padding: 15px;
    background-color: white;

}

/* .formContents */
.loginInput{
    display: flex;
}
.createAccountButton{
    color: white;
    background-color: teal;
    border-radius: 10px;
    padding: 5px;
}
.CreateAccountContainer{
    text-align: end;
    padding-right: 30px;
}
.login{
    color: white;
    background-color: teal;
    align-items: center;
    padding: 5px;
    margin: 10px;
}
.loginContainer{
    text-align: end;

}
.loginPage{
    background-color:white;
    border: solid 1px;
    padding: 0px;
    margin-bottom: 20px;
    
}